@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: #111;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#form {
    display: flex;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

.msg {
    background: linear-gradient(135deg, #1E5F4B, #0D3B32);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    border-radius: 12px 0 0 12px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.msg::before,
.msg::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(172, 172, 105, 0.07);
    border-radius: 50%;
    filter: blur(20px);
    z-index: 0;
}

.msg::before {
    top: 10%;
    left: -20px;
}

.msg::after {
    bottom: 15%;
    right: -20px;
}


.msg h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.msg p {
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.85;
    max-width: 85%;
}

.formulario {
    padding: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bot {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.bot input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease, background 0.3s ease;
}

.bot input:focus {
    border-color: #006239;
    background: #fff;
}

.bot input::placeholder {
    color: #888;
}

.bot button{
    width: fit-content;
    border-radius: 5px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: #006239;
    box-shadow: 0px 15px 20px;
    color: #fff;
    transform: translateY(-7px);
}

.bot label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    align-self: flex-start;
}



